<% provide(:title, "検索") %>
<% @books.each do |book| %>
    <div class="list">
      <%= link_to (image_tag(book['mediumImageUrl'])) %>
      <%= link_to "#{book.title}", controller: 'static_pages', action: 'contact',
			name: book['isbn'] %>

    </div>
 <% end %>
